{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/styles.css')}}"
/>
{% endblock%} {% block content %}
<h1>Search Course</h1>
<div class="container">
  <div id="search-form">
    <form class="d-flex" action="{{ url_for('searchcourse')}}" method="POST">
      {{ form.hidden_tag() }}
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% include 'add_view_course.html'%}
  </div>
  {% include 'coursetable.html'%}
</div>
{% endblock %}
