{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/styleform.css')}}"
/>
{% endblock%} {% block content %}
<div class="container">
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor%}
  <div class="my-container container">
    <h1>Update Student</h1>
    <form method="post" class="row g-3 d-flex justify-content-center">
      {{ form.hidden_tag() }}
      <div class="row d-flex d-flex justify-content-between">
        <div class="col-md-4">
          {{ form.first_name.label(class="form-label")}} 
          {{ form.first_name(class="form-control", value=StudentUpdate.first_name) }}
        </div>
        <div class="col-md-4">
          {{ form.middle_name.label(class="form-label") }}
          {{ form.middle_name(class="form-control", value=StudentUpdate.middle_name) }}
        </div>
        <div class="col-md-4">
          {{ form.last_name.label(class="form-label") }} 
          {{form.last_name(class="form-control", value=StudentUpdate.last_name) }}
        </div>
      </div>
      <div class="row d-flex d-flex justify-content-between">
        <div class="col-md-3">
          {{ form.gender.label(class="form-label") }}
          <select class="form-control" name="gender" required>
            <option value='' disabled>{{ form.gender.label.text }}</option>
            {% for value, label in form.gender.choices %}
                <option value="{{ value }}" {% if value == StudentUpdate.gender %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          {{ form.dob.label(class="form-label") }}
          {{ form.dob(class="form-control", value=StudentUpdate.dob) }}
        </div>
        <div class="col-md-3">
          {{ form.civil_status.label(class="form-label") }}
          <select class="form-control" name="civil_status" required>
              <option value='' disabled>{{ form.civil_status.label.text }}</option>
              {% for value, label in form.civil_status.choices %}
                  <option value="{{ value }}" {% if value == StudentUpdate.civil_status %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <div class="row d-flex d-flex d-flex justify-content-between">
        <div class="col-md-5">
          {{ form.phone.label(class="form-label") }} 
          {{form.phone(class="form-control", value=StudentUpdate.phone) }}
        </div>
        <div class="col-md-6">
          {{ form.email.label(class="form-label") }} 
          {{form.email(class="form-control", value=StudentUpdate.email) }}
        </div>
      </div>
      <br />
      {{ form.submit(class="btn btn-primary btn-lg") }}
    </form>
  </div>
</div>
{% endblock %}
