.my-container{
    width: 60%;
}

.justify-content-center{
    row-gap: 30px;
}

h1{
    margin: 50px;
    text-align: center;
    font-weight: bold;
}

.btn-submit{
    width: 50%;
}

.mybtn{
    width: 20%;
}

.mydiv{
    margin-top: 20px;
}