h1{
    margin: 50px;
    text-align: center;
    font-weight: bold;
}

#search-form > form {
width: 60%;
margin: auto;
padding-bottom: 10px;

display: flex;
align-items: center;
box-sizing: border-box;
}

#data-table{
    border: 1ps solid black;
}

.table-div{
    width: 100%;
}